.container {
  max-width: 1300px;
  width: 100%;

  .empty {
    .redirect {
      margin-top: 60px;
      text-align: center;

      h2 {
        font-weight: 500;
        color: var(--grey);
      }

      button {
        width: 320px;
        font-size: 18px;
        margin: 20px;
      }
      > span {
        display: block;
        height: 1px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        margin: 20px 0 10px;
      }
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: var(--bg);

    .title {
      margin-top: 20px;
    }
    .cart {
      max-width: 950px;
      width: 100%;
      border-radius: 6px;
      background-color: var(--dark);

      .list {
        margin: 20px;
        .item {
          background-color: var(--bg);
          display: flex;
          padding: 10px;
          margin-bottom: 20px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .mobile {
            display: none;
          }

          .link {
            display: flex;
            max-width: 400px;
            width: 100%;
            align-items: center;
            .image {
              width: 100px;
              height: 90px;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              border-radius: 10px;
              cursor: pointer;
              margin-right: 20px;
            }

            .info {
              .name {
                font-size: 15px;
                font-weight: 600;
              }
              .category {
                font-size: 13px;
                font-weight: 500;
                color: var(--grey);
              }
            }
          }

          .price {
            font-size: 20px;
            font-weight: 500;
            margin-left: 10px;
          }

          .quentity {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            cursor: pointer;
            margin-left: 10px;
            .btn {
              width: 30px;
              height: 30px;
              border-radius: 5px;
              &:hover {
                opacity: 0.8;
              }
              svg {
                width: 20px;
                height: 20px;
                position: relative;
                top: 5px;
                left: 5px;
              }
            }
            .minus {
              @extend .btn;
              fill: var(--grey);
              background-color: var(--sea);
            }
            span {
              font-weight: 500;
              color: var(--dark-sea);
            }
            .plus {
              @extend .btn;
              fill: var(--white);
              background-color: var(--violet-dark);
            }
          }

          .total {
            margin-left: 10px;
            font-weight: 700;
            font-size: 25px;
          }

          .close {
            width: 30px;
            height: 30px;
            background-color: var(--grey);
            border-radius: 5px;
            fill: var(--grey);
            &:hover {
              opacity: 0.8;
            }
            svg {
              width: 20px;
              height: 20px;
              position: relative;
              top: 5px;
              left: 5px;
              .icon {
                width: 32px;
                height: 32px;
                fill: var(--grey);
                stroke: var(--grey);
              }
            }
          }
        }
      }
    }

    .totalWindow {
      width: 345px;
      height: 300px;
      border-radius: 6px;
      background-color: var(--dark);
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 30px;

      .totalDivs {
        display: flex;
        justify-content: space-between;
      }

      .items {
        // @extend .totalDivs;
        font-size: 14px;
        color: var(--grey);
        font-weight: 500;
      }

      .shipping {
        @extend .totalDivs;
      }

      > span {
        display: block;
        height: 1px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        margin: 20px 0 10px;
      }

      .subtotal {
        @extend .totalDivs;
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 700;
      }

      .proceed {
        height: 50px;
      }
    }
  }

  .productsWrapper {
    margin-top: 15px;
    max-width: 1300px;
    padding-top: 10px;
    border-radius: 6px;
    background-color: var(--dark);
  }
}

@media (max-width: 1024px) {
  .container {
    .wrapper {
      flex-direction: column;
      gap: 15px;

      .cart {
        max-width: 1023px;
        width: 100%;
      }

      .totalWindow {
        width: 100%;
        height: auto;
        // padding: 20px;

        .subtotal {
          font-size: 18px;
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .wrapper {
      .cart {
        .list {
          .item {
            gap: 15px;

            .price,
            .total,
            .quentity,
            .close {
              margin-left: 0;
            }

            .link {
              width: 280px;
              .image {
                width: 220px;
                margin-right: 10px;
              }
              .info {
                .name {
                  font-size: 14px;
                  font-weight: 500;
                }
                .category {
                  font-size: 12px;
                }
              }
            }
            .quentity {
              gap: 8px;
            }

            .total {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .container {
    .empty {
      .redirect {
        h2 {
          font-size: 16px;
          margin: 0 15px;
        }

        button {
          width: 300px;
          font-size: 16px;
          margin: 20px;
        }
      }
    }

    .wrapper {
      .cart {
        .list {
          .item {
            flex-direction: column;
            // align-items: flex-start;

            .price,
            .total,
            .quentity,
            .close {
              margin-left: 10px;
            }

            .link {
              flex-direction: column;
              // align-items: flex-start;

              .image {
                margin-right: 0;
                margin-bottom: 10px;
                width: 250px;
                height: 150px;
              }
              .info {
                .name {
                  font-size: 14px;
                  font-weight: 600;
                }
                .category {
                  font-size: 14px;
                }
              }
            }
            .price {
              font-weight: 600;
              &::before {
                content: "Price: ";
                color: var(--grey);
                font-weight: 500;
              }
            }

            .quentity {
              gap: 15px;
              cursor: pointer;
              font-size: 22px;
              .btn {
                width: 40px;
                height: 40px;

                svg {
                  width: 30px;
                  height: 30px;
                }
              }
            }

            .total {
              margin-top: 10px;
              font-size: 23px;
              &::before {
                content: "Total: ";
                color: var(--grey);
                font-weight: 500;
              }
            }

            .close {
              svg {
                width: 25px;
                height: 25px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .container {
    .empty {
      .redirect {
        h2 {
          font-size: 14px;
        }
        button {
          width: 250px;
          font-size: 14px;
          margin: 20px;
        }
      }
    }
  }
}

@media (max-width: 370px) {
  // Large desktop
}
