.container {
  max-width: 1300px;
  width: 100%;

  .wrapper {
    display: flex;
    gap: 15px;
    background-color: var(--bg);

    .title {
      margin-top: 20px;
    }
    .cart {
      max-width: 950px;
      width: 100%;
      border-radius: 6px;
      background-color: var(--dark);

      .list {
        margin: 20px;
        .item {
          background-color: var(--bg);
          display: flex;
          padding: 10px;
          margin-bottom: 20px;
          border-radius: 5px;

          .link {
            display: flex;
            max-width: 550px;
            width: 100%;
            align-items: center;
            .image {
              width: 100px;
              height: 90px;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              border-radius: 10px;
              cursor: pointer;
              margin-right: 20px;
            }

            .info {
              .name {
                font-size: 15px;
                font-weight: 600;
              }
              .category {
                font-size: 13px;
                font-weight: 500;
                color: var(--grey);
                &:hover {
                  color: var(--dark-sea);
                }
              }

              .total {
                display: none;
              }
            }
          }

          .other-side {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .price {
              display: none;
              font-size: 20px;
              font-weight: 500;
              margin-left: 10px;
            }

            .total {
              margin-left: 10px;
              font-weight: 700;
              font-size: 25px;
            }

            .close {
              width: 30px;
              height: 30px;
              background-color: var(--grey);
              border-radius: 5px;
              fill: var(--grey);
              &:hover {
                opacity: 0.8;
              }
              svg {
                width: 20px;
                height: 20px;
                position: relative;
                top: 5px;
                left: 5px;
                .icon {
                  width: 32px;
                  height: 32px;
                  fill: var(--grey);
                  stroke: var(--grey);
                }
              }
            }
          }
        }
      }
    }

    .totalWindow {
      width: 345px;
      height: 300px;
      border-radius: 6px;
      background-color: var(--dark);
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 30px;

      .totalDivs {
        display: flex;
        justify-content: space-between;
      }

      .items {
        font-size: 14px;
        color: var(--grey);
        font-weight: 500;
      }

      .shipping {
        @extend .totalDivs;
      }

      > span {
        display: block;
        height: 1px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        margin: 20px 0 10px;
      }

      .subtotal {
        @extend .totalDivs;
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 700;
      }

      .proceed {
        height: 50px;
        border-radius: 20px;
      }
    }
  }

  .productsWrapper {
    margin-top: 15px;
    max-width: 1300px;
    padding-top: 10px;
    border-radius: 6px;
    background-color: var(--dark);
  }
}

@media (max-width: 1024px) {
  .container {
    .wrapper {
      flex-direction: column;
      gap: 15px;

      .cart {
        max-width: 1023px;
        width: 100%;
      }

      .totalWindow {
        width: 100%;
        height: auto;

        .subtotal {
          font-size: 18px;
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    .wrapper {
      .cart {
        .list {
          .item {
            .link {
              width: 900px;

              .image {
                margin-right: 15px;
              }
              .info {
                .name {
                  font-size: 14px;
                  line-height: 20px;
                  font-weight: 500;
                }
                .category {
                  // font-size: 12px;
                }

                .total {
                  display: flex;
                  font-weight: 700;
                  font-size: 18px;
                  margin-bottom: 8px;
                  color: var(--violet-dark);
                }
              }
            }

            .other-side {
              justify-content: space-around;

              .total {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .container {
    .wrapper {
      .cart {
        .list {
          .item {
            flex-direction: column;

            .link {
              width: 100%;

              .image {
                width: 106px;
                height: 110px;
              }
            }

            .other-side {
              margin-top: 15px;
              justify-content: space-between;

              .close {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
