.products {
  max-width: 1274px;
  width: 100%;
  h2 {
    margin: 20px;
  }

  .list {
    display: flex;
    overflow: hidden;
    animation: fadeIn 0.5s ease forwards;
    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    padding: 10px;

    :global {
      .swiper-button-next,
      .swiper-button-prev {
        color: var(--violet-dark);
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 10;
      }

      .swiper-button-next {
        top: 50%;
        transform: translateY(-50%);
      }

      .swiper-button-prev {
        top: 50%;
        transform: translateY(-50%);
      }

      .swiper-button-next::after,
      .swiper-button-prev::after {
        font-size: 16px;
        font-weight: 700;
      }
    }

    .product {
      width: 230px;
      width: calc(20% - 20px);
      min-height: 350px;
      height: 500px;
      background-color: var(--bg);
      margin-bottom: 10px;
      border-radius: 8px;
      overflow: hidden;
      opacity: 0.9;
      @keyframes appear {
        from {
          transform: translateY(0);
        }
        to {
          transform: translateY(-5px);
          opacity: 1;
          box-shadow: 0px 5px 5px var(--dark);
        }
      }

      &:hover {
        animation: appear 200ms ease-out forwards;
      }

      .image {
        width: 100%;
        min-height: 350px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      .wrapper {
        margin: 10px;
        .title {
          font-size: 15px;
          font-weight: 600;
          width: 180px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          min-height: calc(1.2em * 2);
          line-height: 1.2em;
        }

        .categoriesName {
          text-transform: uppercase;
          font-size: 12px;
          color: var(--grey);
        }

        .info {
          display: flex;
          justify-content: space-between;
          margin-top: 50px;
          padding-bottom: 10px;

          .purchases {
            font-size: 10px;
            color: var(--dark-sea);
          }
        }

        position: relative;
        svg {
          top: 0;
          right: 5px;
          position: absolute;
          width: 22px;
          height: 22px;
          cursor: pointer;
        }
        .icon {
          stroke: var(--grey);
          fill: none;
        }
        .iconFill {
          stroke: var(--grey);
          fill: var(--grey);
        }
      }
    }
  }

  .list_categories {
    @extend .list;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

    .product {
      width: 100%;
    }
  }
}

@media (max-width: 1200px) {
  .products {
    .list_categories {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media (max-width: 1024px) {
  .products {
    h2 {
      margin: 15px 0;
    }

    .list {
      .product {
        width: 100%;
        height: 400px;
        &:hover {
          animation: none !important;
        }
        .image {
          min-height: 280px;
        }

        .wrapper {
          .title {
            font-size: 13px;
            line-height: 16px;
            width: 150px;
          }

          .categoriesName {
            font-size: 11px;
          }

          .info {
            gap: 8px;
            margin-top: 20px;

            .prices {
              .price {
                font-size: 18px;
              }

              .oldPrice {
                font-size: 12px;
              }
            }

            .purchases {
              font-size: 9px;
              text-align: right;
            }
          }

          svg {
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .list_categories {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .products {
    .list_categories {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 640px) {
  .products {
    h2 {
      font-size: 20px;
      margin: 15px 0;
    }

    .list {
      flex-direction: column;
      align-items: center;
      padding: 5px;

      .product {
        width: 100%;
        height: 400px;

        .image {
          min-height: 290px;
        }

        .wrapper {
          .title {
            font-size: 15px;
            width: 180px;
          }

          .categoriesName {
            font-size: 10px;
          }

          .info {
            margin-top: 15px;
          }
        }
      }
    }

    .list_categories {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 450px) {
  .products {
    h2 {
      font-size: 18px;
      margin: 5px 0;
    }

    .list {
      .product {
        height: 370px;

        .image {
          min-height: 260px;
        }

        .wrapper {
          .title {
            font-size: 13px;
            width: 160px;
          }

          .info {
            margin-top: 20px;
          }
        }
      }
    }

    .list_categories {
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
      padding: 5px;
    }
  }
}

@media (max-width: 391px) {
  .products {
    .list {
      padding: 2px;

      .product {
        .wrapper {
          .title {
            width: 140px;
          }
        }
      }
    }

    .list_categories {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
