.sizes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  .size {
    background-color: var(--bg);
    border-radius: 8px;
    padding: 6px;
    position: relative;
    bottom: 5px;
    cursor: pointer;
    &:hover {
      background-color: var(--violet-dark);
    }
    &.active {
      background-color: var(--violet-dark);
    }
  }
  span {
    color: var(--dark-sea);
  }
}
