.section {
  max-width: 1274px;
  width: 100%;
  h2 {
    margin: 20px;
  }

  :global {
    .swiper-button-next,
    .swiper-button-prev {
      color: var(--violet-dark);
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 50%;
      width: 32px;
      height: 32px;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      z-index: 10;
      display: flex;

      @media (min-width: 1025px) {
        display: none;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      top: 50%;
      transform: translateY(-50%);
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 16px;
      font-weight: 700;
    }
  }

  .list {
    margin: 20px;
    .item {
      max-width: 230px;
      width: calc(20% - 20px);
      min-height: 230px;
      .image {
        max-width: 220px;
        width: 100%;
        min-height: 230px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        border-radius: 5px;
        min-height: 210px;
      }
      h3 {
        color: var(--grey);
        font-weight: 600;
        margin-top: 10px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 1024px) {
  .section {
    .list {
      .item {
        width: calc(33.33% - 20px);
      }
    }
  }
}

@media (max-width: 768px) {
  .section {
    .list {
      .item {
        width: calc(50% - 20px);
      }
    }
  }
}

@media (max-width: 480px) {
  .section {
    .list {
      .item {
        width: 100%;
        margin: 10px 0;
      }
    }
  }
}
