.section {
  max-width: 1274px;
  width: 100%;
  h2 {
    margin: 20px;
  }

  .list {
    display: flex;
    justify-content: space-between;
    .item {
      min-width: 210px;
      width: calc(20% - 20px);

      min-height: 230px;
      margin: 20px;
      .image {
        max-width: 210px;
        width: 100%;
        min-height: 230px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      h3 {
        color: var(--grey);
        font-weight: 600;
        margin-top: 10px;
        text-align: center;
      }
    }
  }
}
