.container {
  max-width: 950px;
  width: 100%;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 15px;
    .user {
      width: 500px;
      height: 130px;
      border-radius: 5px;
      background-color: var(--generic);
      display: flex;
      justify-content: space-between;
      padding: 20px;

      .info {
        display: flex;
        flex-direction: column;
        .name {
          font-size: 36px;
          font-weight: 600;
          margin-bottom: 20px;
          color: var(--violet);
          color: #ffc862;
          color: (255, 200, 98);
        }

        .email {
          // font-size: 22px;
          // font-weight: 600;
        }
      }
    }

    .avatar {
      width: 104px;
      height: 104px;
      position: relative;
      bottom: 7px;
      background-color: var(--dark);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
    }
  }

  .edit,
  .cart {
    width: 150px;
    height: 130px;
    border-radius: 5px;
    background-color: var(--generic);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: var(--grey);
    font-size: 15px;
    &:hover {
      background-color: var(--dark-sea);
    }
    .icon {
      width: 30px;
      height: 30px;
      fill: var(--grey);
      stroke: var(--grey);
    }
  }
  // button {
  //   width: ;
  // }

  .cart {
    width: 345px;

    .cart-icon,
    .fav-icon {
      width: 50px;
      height: 50px;
      fill: var(--grey);
      // stroke: var(--grey);
    }
    .fav-icon {
      fill: none;
      stroke: var(--grey);
    }
  }
}
