$bg: var(--bg);
$dark: var(--dark);
$violet-dark: var(--violet-dark);
$violet: var(--violet);
$font-family: Montserrat, Roboto, sans-serif;

body {
  background: $bg;
  font-size: 16px;
  line-height: 16px;
  font-family: $font-family;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: #fff;
  font-weight: 500;
  padding-bottom: 20px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
  }

  * {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  input,
  button {
    border: none;
    background: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-family: $font-family;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .app {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
  }

  .flex {
    display: flex;
  }

  .flex-center {
    align-items: center;
    justify-content: center;
  }

  .icon {
    width: 12px;
    height: 12px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 5px;
  }

  .home-layout {
    display: flex;
    max-width: 1300px;
    width: 100%;
    gap: 15px;
    position: relative;
  }

  section {
    background: $dark;
    // background: white;
    border-radius: 6px;
  }

  button {
    background: $violet-dark;
    border-radius: 6px;
    padding: 9px 20px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;

    &:hover {
      background: $violet;
    }
  }

  h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input {
    padding: 0;
  }

  .preloader {
    flex-grow: 1;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
