:root {
    --bg: #212123;
    --dark: #191919;
    --dark-sea: #576067;
    --grey: #b8b8b8;
    --white: #fff;
    --violet: #8b57c6;
    --violet-dark: #6c3eb8;
    --light: #f6f6f7;
    --sea: #616e74;
    --generic: #2a2a2a;
    --dark-sea2: #363636;
  }

  //Серый (различные оттенки, например, #212121, #121212, #535353, #b3b3b3): Различные оттенки серого используются для добавления тонкости в дизайн, например, для разделителей, фоновых элементов и некоторых текстов.


//   ligthMode
//   :root {
//   --bg: #f6f6f7;         // светлый фон (было #212123)
//   --dark: #ffffff;       // основной фон карточек/контейнеров
//   --dark-sea: #d3d7dc;   // светлый серо-синий
//   --grey: #5a5a5a;       // тёмно-серый текст
//   --white: #000;         // основной цвет текста
//   --violet: #8b57c6;     // можно оставить фирменным
//   --violet-dark: #6c3eb8; // тоже оставить
//   --light: #ffffff;      // белый фон
//   --sea: #a0aab2;         // приглушённый синий/серый
//   --generic: #e0e0e0;    // нейтральный светлый фон
//   --dark-sea2: #cccccc;  // светло-серый для границ и второстепенных элементов
// }