.form {
  position: absolute;
  top: 80px;
  left: 0;
  width: 304px;
  height: 100vh;
  background: var(--dark);
  z-index: 10;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;

  @media (max-width:768px) {
    width: 100%;
    top: 50px;
  }

  &.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}