.header {
  position: relative;
  z-index: 20;
  display: flex;
  max-width: 1290px;
  width: 100%;
  align-items: center;
  padding: 15px 20px;

  .logo {
    width: 304px;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

    .account {
      display: flex;
      align-items: center;
      column-gap: 20px;

      .username {
        font-size: 10px;
        line-height: 12px;
        color: var(--grey);
      }

      svg {
        width: 24px;
        height: 24px;
        stroke-width: 2px;
      }

      .favourites {
        cursor: pointer;
        position: relative;

        .icon-fav {
          position: relative;
          left: 12px;
          stroke: var(--grey);
          fill: none;
          &:hover {
            stroke: var(--white);
          }
        }
      }

      .cart {
        position: relative;
        .icon-cart {
          fill: var(--grey);
          &:hover {
            fill: var(--white);
          }
        }
      }

      .count {
        position: absolute;
        width: 14px;
        height: 14px;
        background-color: var(--violet);
        right: -4px;
        bottom: 11px;
        border-radius: 50%;
        font-size: 10px;
        font-weight: 700;
        color: var(-ligth);
        text-align: center;
        line-height: 16px;
      }

      .favCount {
        @extend .count;
        right: 7px;
      }

      .user {
        position: relative;

        .userLink {
          .userSvg {
            position: relative;
            left: 4px;
            stroke: var(--grey);
            &:hover {
              stroke: var(--white);
            }

            &.active {
              stroke: var(--white);
            }
          }

          .userSvgActive {
            stroke: var(--white);
          }

          .usernameActive {
            color: var(--white);
            font-size: 10px;
            line-height: 12px;
          }
        }

        .userMenu {
          width: 180px;
          position: absolute;
          z-index: 50;
          top: 140%;
          right: -3px;
          border-radius: 4px;
          background-color: var(--dark-sea2);
          max-height: 300px;
          overflow: auto;
          &::-webkit-scrollbar {
            display: none;
          }
          ul {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            gap: 4px;
            margin: 6px 0;
            li {
              font-size: 15px;
              // font-weight: 400;
              box-sizing: border-box;
              margin: 2px 2px;
              .menu {
                padding: 8px 12px;
                display: block;
                width: 100%;
                &:hover {
                  background-color: var(--dark-sea);
                }
              }
            }
            .menuBtn {
              padding: 8px 12px;
              display: block;
              width: 100%;
              color: var(--violet);
              font-weight: 600;
              &:hover {
                background-color: var(--dark-sea);
              }
            }
          }
        }
      }
    }
  }
}
