.banner {
  max-width: 1274px;
  width: 100%;
  display: flex;
  height: 570px;
  justify-content: space-between;

  .left {
    width: 450px;
    display: flex;
    // flex-direction: column;
    align-items: center;
    margin: 90px;
    gap: 20px;
    position: relative;
    // &::before {
    //   content: "";
    //   display: block;
    //   width: 204px;
    //   height: 170px;
    //   background: url("../../images/shoe.png") no-repeat, center;
    //   position: absolute;
    //   bottom: -20px;
    //   right: 300px;
    // }
    // &::after {
    //   content: "";
    //   display: block;
    //   width: 270px;
    //   height: 151px;
    //   background: url("../../images/devices.png") no-repeat, center;
    //   position: absolute;
    //   bottom: -110px;
    //   left: 281px;
    // }

    p {
      font-size: 30px;
      color: var(--violet-dark);
      align-items: center;
      display: flex;
      flex-direction: column;
      line-height: 60px;
      font-weight: 300;

      span {
        font-size: 50px;
      }
    }
  }
  .right {
    width: 637px;
    :global {
      .swiper-pagination {
        bottom: 17px;
        left: 220px;
        text-align: center;
      }

      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        display: inline-flex;
        background-color: transparent;
        border: 1px solid #eee;
        color: #eee;
        transition: all 0.3s ease;
        opacity: 0.5;
      }

      .swiper-pagination-bullet-active {
        background-color: #eee;
      }
    }

    .img {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .discount {
      color: var(--bg);
      font-weight: 500;
      position: absolute;
      bottom: 10px;
      left: 270px;

      span {
        font-weight: 700;
        color: var(--violet-dark);
      }
    }
  }
}
